<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading_faceplate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,38}}</string>
                <key>sourceSize</key>
                <string>{154,38}</string>
            </dict>
            <key>loading_spinner.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>text_box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{531,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,102}}</string>
                <key>sourceSize</key>
                <string>{531,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>preload_sheet.png</string>
            <key>size</key>
            <string>{743,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbec187533ba9aa7faab1cbe90f46e02:1/1$</string>
            <key>textureFileName</key>
            <string>preload_sheet.png</string>
        </dict>
    </dict>
</plist>
