<config>
	<!--unlock characters and levels-->
	<unlockGame enabled="false"/>
	
	<!-- CODE UNLOCK -->
	<unlockEnabled>true</unlockEnabled> <!-- Set whether or not to allow the use of the code unlock screen -->
	<unlockCode>00000</unlockCode> <!-- Set the code unlock number here, should be less than 10 digits and you can use the number 0 -->
	
	<!-- DATA -->
	<data>
		<url>www.nick.com/games/nickelodeons-hardest-game-ever.html</url>
	</data>
	
    <!-- SERVICES -->
    <!-- Enable, disable, and configure services here -->
    
	<services>
		<service type="analytics" enabled="false" id="x" />
		<service type="canadaTracking" enabled="true" showGameTitle="Nicktoons: Hardest Game Ever"/>
		<service type="nickavatar" enabled="false" url="http://54.243.42.37:8080/nick/avatar" />
		<service type="leaderboard" enabled="false" url="http://hs.nick.com/scores/" keyword="power-rangers-samurai-super-samurai" />		
	</services>
	
	<!-- ACHIEVEMENTS -->
	<achievements enabled="true"/>
		
	<!-- LOCALIZATION -->
	      
    <localization>
    	<region>en</region>
    </localization>
    	
	<!-- PACK DEFINITIONS -->
	<!-- Define packs, flump folders, and tilesheets to be loaded later -->
	      
    <packs>
    	<!-- EX
    	<pack id="pack_folder1"/>
    	<pack id="pack_folder2">
      		<flump id="flump_folder"/>
      		<tiles id="folder/tilesheet_id"/>
      		<tiles id="folder/multisheet_id_" num="2"/>		This loads sheets multisheet_id_0 and multisheet_id_1 (useful for TexturePacker's multipacks)
  		</pack>
    	-->
    	
    	<pack id="preload">								<!-- This phase loads fonts, and any loading bars or title cards you need to display on the splash screen -->
    		<tiles id="spritesheets/preload_sheet"/>
    	</pack>
    	<pack id="initial_universal"/>					<!-- This phase loads the pre-gameplay ui -->
    	<pack id="initial_sd"/>
    	<pack id="initial_hd"/>
    	<pack id="initial_soundfx"/>
    	<pack id="initial_music"/>
   		<pack id="gameplay_universal">
   			<tiles id="spritesheets/gameplay_sheet"/>
   		</pack>
   		<pack id="gameplay_sd"/>
   		<pack id="gameplay_hd"/>
    	<pack id="gameplay_soundfx"/>
    	<pack id="gameplay_music"/>
    	<pack id="world_fop"/>
    	<pack id="world_tmnt"/>
    	<pack id="world_winx"/>
    	<pack id="world_sb"/>
    	<pack id="world_snc"/>
    	<pack id="world_troll"/>
    	<pack id="world_fop_hd"/>
    	<pack id="world_tmnt_hd"/>
    	<pack id="world_winx_hd"/>
    	<pack id="world_sb_hd"/>
    	<pack id="world_snc_hd"/>
    	<pack id="world_troll_hd"/>
    	<pack id="world_fop_sd"/>
    	<pack id="world_tmnt_sd"/>
    	<pack id="world_winx_sd"/>
    	<pack id="world_sb_sd"/>
    	<pack id="world_snc_sd"/>
    	<pack id="world_troll_sd"/>
    	<pack id="player_bloom"/>
    	<pack id="player_donnie"/>
    	<pack id="player_leo"/>
    	<pack id="player_mikey"/>
    	<pack id="player_raph"/>
    	<pack id="player_sanjay"/>
    	<pack id="player_spongebob"/>
    	<pack id="player_timmy"/>
    	<pack id="select_character"/>
    	<pack id="select_world"/>
    	<pack id="initial_unlockables"/>
    	<pack id="initial_achievements"/>
   				
   		<!-- END OF PACKS -->
    </packs>
    
    <!-- CHUNKS -->
    <!-- Define larger bundles of chunks and packs to load -->
    
    <chunks>
    	<!-- EX
    	<chunk id="chunk">
			<pack>load_part_1</pack>
			<pack>load_part_2</pack>
		</chunk>
    	-->
    	
    	<chunk id="preload">
    		<pack>preload</pack>
    	</chunk>
    	
    	<chunk id="initial_sd">
    		<pack>initial_universal</pack>
    	</chunk>
    	
    	<chunk id="initial_hd">
    		<pack>initial_universal</pack>
    	</chunk>
    	
    	<chunk id="initial_audio_with_soundfx">
    		<pack>initial_music</pack>
    	</chunk>
    	
    	<chunk id="initial_audio_only_music">
    		<pack>initial_music</pack>
    	</chunk>
    	
    	<chunk id="gameplay_sd">
    		<pack>gameplay_universal</pack>
    	</chunk>
    	
    	<chunk id="gameplay_hd">
    		<pack>gameplay_universal</pack>
    	</chunk>
    	
    	<chunk id="gameplay_audio_with_soundfx">
    		<pack>gameplay_music</pack>
    		<pack>gameplay_soundfx</pack>
    	</chunk>
    	
    	<chunk id="gameplay_audio_only_music">
    		<pack>gameplay_music</pack>
    	</chunk>
    	
    	<chunk id="world_fop_hd">
    		<pack>world_fop</pack>
    		<pack>world_fop_hd</pack>
    	</chunk>
    	
    	<chunk id="world_fop_sd">
    		<pack>world_fop</pack>
    		<pack>world_fop_sd</pack>
    	</chunk>
    	
    	<chunk id="world_sb_hd">
    		<pack>world_sb</pack>
    		<pack>world_sb_hd</pack>
    	</chunk>
    	
    	<chunk id="world_sb_sd">
    		<pack>world_sb</pack>
    		<pack>world_sb_sd</pack>
    	</chunk>
    	
    	<chunk id="world_tmnt_hd">
    		<pack>world_tmnt_hd</pack>
    		<pack>world_tmnt</pack>
    	</chunk>
    	
    	<chunk id="world_tmnt_sd">
    		<pack>world_tmnt_sd</pack>
    		<pack>world_tmnt</pack>
    	</chunk>
    	
    	<chunk id="world_winx_hd">
    		<pack>world_winx_hd</pack>
    		<pack>world_winx</pack>
    	</chunk>
    	
    	<chunk id="world_winx_sd">
    		<pack>world_winx_sd</pack>
    		<pack>world_winx</pack>
    	</chunk>
    	
    	<chunk id="world_snc_hd">
    		<pack>world_snc_hd</pack>
    		<pack>world_snc</pack>
    	</chunk>
    	
    	<chunk id="world_snc_sd">
    		<pack>world_snc_sd</pack>
    		<pack>world_snc</pack>
    	</chunk>
    	
    	<chunk id="world_troll_hd">
    		<pack>world_troll_hd</pack>
    		<pack>world_troll</pack>
    	</chunk>
    	
    	<chunk id="world_troll_sd">
    		<pack>world_troll_sd</pack>
    		<pack>world_troll</pack>
    	</chunk>
    	
    	<chunk id="player_bloom">
    		<pack>player_bloom</pack>
    	</chunk>
    	
    	<chunk id="player_donnie">
    		<pack>player_donnie</pack>
    	</chunk>
    	
    	<chunk id="player_leo">
    		<pack>player_leo</pack>
    	</chunk>
    	
    	<chunk id="player_mikey">
    		<pack>player_mikey</pack>
    	</chunk>
    	
    	<chunk id="player_raph">
    		<pack>player_raph</pack>
    	</chunk>
    	
    	<chunk id="player_sanjay">
    		<pack>player_sanjay</pack>
    	</chunk>
    	
    	<chunk id="player_spongebob">
    		<pack>player_spongebob</pack>
    	</chunk>
    	
    	<chunk id="player_timmy">
    		<pack>player_timmy</pack>
    	</chunk>
    	
    	<chunk id="initial_select">
    		<pack>select_character</pack>
    		<pack>select_world</pack>
    	</chunk>
    	
    	<chunk id="initial_unlockables">
    		<pack>initial_unlockables</pack>
    	</chunk>
    	
    	<chunk id="initial_achievements">
    		<pack>initial_achievements</pack>
    	</chunk>
        <!-- END OF CHUNKS -->
    </chunks>
    
    <!-- QUALITY / BENCHMARKING -->
    <!-- index -->
    <!-- 	-1: Self determine via flambe benchmark -->
    <!-- 	 0: Lowest quality -->
    <!-- 	As the index increases the better the quality -->
    <!-- 	-1, 0, and 1 are the normal options, but more can be added if necessary (this is rare) -->
    <!-- forceLowQualityMobile -->
    <!-- 	Only affects html touch platforms -->
    <!-- 	False, do not force low quality -->
    <!-- 	True, force low quality -->
    <quality index="0" forceLowQualityMobile="true"/>
    
</config>